<% include partials/headerUser%>

<div class="container-fluid">

    <div class="row">
        <div class="col">
        </div>
        <div class="col-2 mi-columna" style="margin-top: 20px;margin-left: 1600px">
            <form id="container" action='/store' method='GET'>
              <input type="submit" class="fadeIn fourth" value="Market Place">
            </form>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-1">
                        <img src="../../../frontend/pictures/logo.gif" id="icon" alt="User Icon" />
                    </div>
                    <div class="col-lg-3" id="infoUser" style="margin-left: 300px;margin-bottom: 20px;">
                        <table>
                            <tr>
                              <td><h>Nombre: </h></td>
                              <td><p id="nom_Usuario" class="fadeIn second" name="nom_Usuario"><%=nom_Usuario%></p></td>
                            </tr>
                            <tr>
                              <td><h>Apellidos: </h></td>
                              <td><p id="nom_Usuario" class="fadeIn second" name="nom_Usuario"><%=ap_Usuario%></p></td>
                            </tr>
                            <tr>
                              <td><h>Telefono: </h></td>
                              <td><p id="nom_Usuario" class="fadeIn second" name="nom_Usuario"><%=tlf_Usuario%></p></td>
                            </tr>
                            <tr>
                              <td><h>Dirección: </h></td>
                              <td><p id="nom_Usuario" class="fadeIn second" name="nom_Usuario"><%=dir_Usuario%></p></td>
                            </tr>
                            <tr>
                              <td><h>E-mail: </h></td>
                              <td><p id="nom_Usuario" class="fadeIn second" name="nom_Usuario"><%=email_Usuario%></p></td>
                            </tr>
                          </table>   
                    </div>
                </div>
                <div class="row">
                    <form action="/addPet" method="GET" style="margin-bottom: 20px; margin-right: 100px">
                      <input type="submit" class="fadeIn fourth" value="Add Pet">
                    </form>
                
                    <div class="navbart" >
                     <ul  >
                        <%for(let i=0; i < pets.length ; i++) {%>
                          <li>
                              <div class="container" action="/showPetInfo" method="POST">
                                <div class="row">
                                  <div class="col">
                                    <p id="nom_Pet" class="fadeIn second" name="nom_Pet"><%=pets[i].nombre_Mascota%></p>
                                  </div>
                                </div>
                                <div class="row">
                                  <div class="col">
                                    <p id="birthdate" class="fadeIn second" name="birthdate"><%=pets[i].fecha_Nacimiento%></p>
                                  </div>
                                  <div class="col">
                                      <input type="submit" class="fadeIn fourth"  style="margin-bottom: 20px; margin-right: 100px" value="Show Info">
                                  </div>
                                </div>
                              </div>
                          </li>               
                        <%}%>
                     </ul>
                    </div>

                    

                </div>
            </div>
        </div>  
        <div class="col-lg" id="formContentInfo" style="margin-bottom: 20px;">

        </div>
    </div>
</div>

<% include partials/footerUser%>