<% include partials/headerpetWin%>

<div class="container-fluid">

    <div class="row">
        <div class="col">
        </div>
        <div class="col-2 mi-columna" style="margin-top: 20px;margin-left: 1600px">
          <form id="container" action='/showmodPet' method='GET'>
            <input type="submit" class="fadeIn fourth" value="modificar Mascota">
          </form>
        </div>
    </div>
    <div class="row">
        <div class="col" style="margin-top: 30px; margin-bottom: 20px">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-1">
                        <img src="../../../frontend/pictures/logo.gif" id="icon" alt="User Icon" />
                    </div>
                   
                    <div class="col-lg-3" id="infoUser" style="margin-left: 300px;margin-bottom: 20px;">
                        <table>
                            <tr>
                              <td><h>id_Mascota: </h></td>
                              <td><p id="id_Mascota" class="fadeIn second" name="id_Mascota"><%=id_Mascota%></p></td>
                            </tr>
                            <tr>
                              <td><h>nombre_Mascota: </h></td>
                              <td><p id="nombre_Mascota" class="fadeIn second" name="nombre_Mascota"><%=nombre_Mascota%></p></td>
                            </tr>
                            <tr>  
                              <td><h>esp_Mascota: </h></td>
                              <td><p id="esp_Mascota" class="fadeIn second" name="esp_Mascota"><%=esp_Mascota%></p></td>
                            </tr>
                            <tr>
                              <td><h>raza_Mascota: </h></td>
                              <td><p id="raza_Mascota" class="fadeIn second" name="raza_Mascota"><%=raza_Mascota%></p></td>
                            </tr>
                            <tr>
                              <td><h>capa_Mascota: </h></td>
                              <td><p id="capa_Mascota" class="fadeIn second" name="capa_Mascota"><%=capa_Mascota%></p></td>
                            </tr>
                            <tr>
                              <td><h>fecha_Nacimiento: </h></td>
                              <td><p id="fecha_Nacimiento" class="fadeIn second" name="fecha_Nacimiento"><%=fecha_Nacimiento%></p></td>
                            </tr>
                            <tr>
                              <form class="col"  action="/addCita" method="post">
                                  <td><h>Añadir cita: </h></td>
                                  <td><input type="text" id="datepicker" class="fadeIn second" name="datepicker" placeholder="fecha_Nacimiento"></td>
                                  <td><input type="submit" class="fadeIn fourth" value="Add Date"></td>
                              </form>
                            </tr>                         
                          </table>   
                    </div>
                </div>
                <div class="row">
                  <form class="col"  action="/borrarPet?id=<%=id_Mascota%>" method="post">
                    <input type="submit" class="fadeIn fourth"  style="margin-bottom: 20px; margin-right: 100px" value="Delete Pet">  
                  </form>
                  <form class="col"  action="/backPw" method="get">
                    <input type="submit" class="fadeIn fourth"  style="margin-bottom: 20px; margin-right: 100px" value="Back">
                  </form>
                </div>
            </div>
        </div>  
        <div class="navbart" style="margin-right: 500px; margin-top: 30px">
            <h1>CITAS MASCOTA</h1>
            <ul>
               <%for(var i=0; i < dates.length ; i++) {%>
                 <li>
                     <div class="container">
                       <div class="row">
                         <div class="col">
                           <p id="fecha_Cita" class="fadeIn second" name="fecha_Cita"><%=dates[i].fecha_Cita%></p>
                         </div>
                       </div>
                       <div class="row">
                          <form class="col"  action="/borrarCita?id=<%=i%>" method="post">

                            <input type="submit" class="fadeIn fourth"  style="margin-bottom: 20px; margin-right: 100px" value="Delete">
                        
                        </form>
                       </div>
                     </div>
                 </li>               
               <%}%>
            </ul>
        </div>
    </div>
</div>

<% include partials/footerUser%>